<h1>   Добро пожаловать</h1>
<h3>Для Вас свежие новости <a href="/newsRu">России</a> и <a href="/news">Мира</a> </h3>
<a href="/newsRu"><h5>Russia news</h5></a>
<a href="/news"><h5>World news</h5></a>
